* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: rgb(47, 177, 182);
  background: radial-gradient(
    circle,
    rgba(63, 244, 251, 0.7) 0%,
    rgba(254, 248, 229, 0.7) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  position: relative;
  width: 40vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  will-change: transform;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  user-select: none;
}

.img-box-before,
.img-box-after {
  position: absolute;
  top: 0;
  left: 0;
  width: 40vw;
  height: 60vh;
  overflow: hidden;
}

.img {
  width: 40vw;
  height: 60vh;
  object-fit: cover;
}

.img-box-before {
  z-index: 10;
  width: 20vw;
  height: 60vh;
}

.grab {
  position: absolute;
  width: 0.4rem;
  height: 100%;
  top: 0;
  left: 0;
  will-change: transform;
  transform: translateX(20vw);
  cursor: e-resize;
  background: #fff;
}

.left-arrow,
.right-arrow {
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: 0;
  left: 0;
  cursor: pointer;
  will-change: transform;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.left-arrow {
  top: 50%;
  left: 20%;
}

.right-arrow {
  top: 50%;
  left: 75%;
}

.left-arrow:hover,
.right-arrow:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.left-arrow:active,
.right-arrow:active {
  opacity: 0.8;
  transform: scale(1);
}
